<!DOCTYPE html>
<html>
<head>
    <title>Authors page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin: 10px;
        }
        #search-button {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <a href="{{ path('welcome_index') }}" class="btn btn-primary" style="position: absolute; top: 10px; left: 10px;">Return to Index</a>
    <h1>Authors page</h1>

    <a href="{{ path('get_all_author') }}" class="btn">Get All Authors</a>

    <a href="#" class="btn" id="open-create-form">Create Author</a>
    <form id="create-author-form" style="display: none;">
        <input type="text" id="firstName" name="firstName" placeholder="First Name">
        <input type="text" id="secondName" name="secondName" placeholder="Second Name">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
        <button type="submit" class="btn btn-primary">Create Author</button>
    </form>

    <a href="#" class="btn" id="open-search-form">Search Authors</a>
    <form id="search-author-form" style="display: none;">
        <input type="text" id="searchTerm" name="searchTerm" placeholder="Author Name">
        <button type="submit" class="btn btn-primary" id="search-button">Search</button>
    </form>

    <script src="/scripts/search_authors.js"></script>
    <script src="/scripts/create_authors.js"></script>
</body>
</html>
