<!DOCTYPE html>
<html>
<head>
    <title>Authors page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Authors page</h1>

    <a href="{{ path('get_all_author') }}" class="btn">Get All Authors</a>
    <a href="{{ path('create_author') }}" class="btn">Create Author</a>
    <a href="#" class="btn" id="open-search-form">Search Authors</a>


        <form action="{{ path('find_author') }}" method="GET" class="search-form" style="display: none;">
            <input type="text" name="searchTerm" placeholder="Author Name">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <script>
            const openSearchFormButton = document.getElementById('open-search-form');
            const searchForm = document.querySelector('.search-form');

            let isFormVisible = false;
            openSearchFormButton.addEventListener('click', () => {
                 if (isFormVisible) {
                     searchForm.style.display = 'none';
                 } else {
                     searchForm.style.display = 'block';
                 }
                 isFormVisible = !isFormVisible;
            });
        </script>
</body>
</html>
