<!DOCTYPE html>
<html>
<head>
    <title>Authors page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <a href="{{ path('welcome_index') }}" class="btn btn-primary" style="position: absolute; top: 10px; left: 10px;">Return to Index</a>
    <h1>Authors page</h1>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" id="close-modal">&times;</span>
            <p id="modal-message">It's done</p>
        </div>
    </div>

    <div id="result-table-modal" class="modal">
            <div class="modal-content">
                <span class="close" id="close-result-table-modal">&times;</span>
                <h2>Authors List</h2>
                <table id="author-table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>First Name</th>
                            <th>Second Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody id="author-table-body">
                    </tbody>
                </table>
                <div id="pagination-container">
                    <button id="prev-page">Previous Page</button>
                    <span id="current-page">Page 1</span>
                    <button id="next-page">Next Page</button>
                </div>
            </div>
        </div>

    <a href="#" class="btn" id="get-all-authors-button">Get All Authors</a>

    <a href="#" class="btn" id="open-create-form">Create Author</a>
        <div id="create-author-form" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close" id="close-create-form">&times;</span>
                <h2>Create Author</h2>
                <form>
                    <input type="text" id="firstName" name="firstName" placeholder="First Name">
                    <input type="text" id="secondName" name="secondName" placeholder="Second Name">
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                    <button type="submit" class="btn btn-primary" id="button">Create Author</button>
                </form>
            </div>
        </div>

    <a href="#" class="btn" id="open-search-form">Search Authors</a>
    <form id="search-author-form" style="display: none;">
        <input type="text" id="searchTerm" name="searchTerm" placeholder="Author Name">
        <button type="submit" class="btn btn-primary" id="button">Search</button>
    </form>

    <button class="btn" id="open_update-form">Update Author</button>
    <div id="update-author-form" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" id="close-update-form">&times;</span>
                    <h2>Update Author</h2>
                    <form>
                        <input type="text" id="id" name="id" placeholder="id">
                        <input type="text" id="firstName" name="firstName" placeholder="First Name">
                        <input type="text" id="secondName" name="secondName" placeholder="Second Name">
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                        <button type="submit" class="btn btn-primary" id="button">Update Author</button>
                    </form>
                </div>
    </div>

    <a href="#" class="btn" id="open-delete-form">Delete Author</a>
    <form id="delete-author-form" style="display: none;">
        <input type="text" id="id" name="id" placeholder="Author Id">
        <button type="submit" class="btn btn-primary" id="button">Delete</button>
    </form>

    <script src="/scripts/modal_info_message.js"></script>
    <script src="/scripts/authors/search_authors.js"></script>
    <script src="/scripts/authors/create_authors.js"></script>
    <script src="/scripts/authors/get_all_author.js"></script>
    <script src="/scripts/authors/update_author.js"></script>
    <script src="/scripts/authors/delete_author.js"></script>
</body>
</html>
