{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search result of Authors</h1>
    {% if authors is empty %}
        <p>Nothing found</p>
    {% else %}
        <ul>
            {% for author in authors %}
                <li>{{ author.firstName }} {{author.secondName}} {{ author.lastName }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}