<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Your App</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #c0c0c0;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Your App</h1>

    <a href="{{ path('authors_index') }}" class="btn">Authors</a>
    <a href="{{ path('books_index') }}" class="btn">Books</a>
</body>
</html>
