<div class="modal" id="editBookModal">
    <div class="modal-content">
        <h2>Edit Book</h2>
        <form action="{{ path('edit_book', {'id': book.id}) }}" method="post">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Edit Book</button>
            {{ form_end(form) }}
        </form>
    </div>
</div>
